/* Page Connexion */
img {
  margin-right: 32%;
  margin-left: 32%;
}

a.connexion {
  color: red;
}

.btn {
  background-color: red;
} 

.container{
  margin-top: 5%;
}


div#espace.container{
  margin: 0%;
}

a.connexion:hover{
  color: black;
}
.new-account {
  text-align: center;
  -webkit-text-decoration-skip: objects;
}
.b-connexion{
  background-color: #f3eded;
  margin-bottom: 7%;
}

/* Page Connexion Bis */
.form-group{
  color:red;
  margin-top:5%;
}

a.inscription {
  color: red;
}

a.inscription:hover{
  color: black;
}

/* Page Profil */
.profil{
  color: black;
}

.profil:hover{
  color: red;
}

.navbar{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;

}