/* Page Connexion */
img {
  margin-right: 25%;
  margin-left: 32%;
}

a.connexion {
  color: red;
}

.btn {
  background-color: red;
} 

.container{
  margin-top: 5%;
}

a.connexion:hover{
  color: black;
}
.new-account {
  text-align: center;
  -webkit-text-decoration-skip: objects;
}
.b-connexion{
  background-color: red;
}

/* Page Connexion Bis */
.form-group{
  color:red;
}

a.inscription {
  color: red;
}